<app-side-panel-header>
  <app-object-summary direction="column">
    <app-chip-avatar size="large" [image]="player.image ? (player.image | getDownloadURL) : 'https://i.stack.imgur.com/34AD2.jpg'" thumbnail></app-chip-avatar>
    <app-title size="large">{{ player.name }}</app-title>
    <app-title type="subtitle">{{ player.description }}</app-title>
  </app-object-summary>
</app-side-panel-header>
<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Stats">
    <app-side-panel-content>Stats Coming Soon!!</app-side-panel-content>
  </mat-tab>
  <mat-tab label="Teams">
    <app-side-panel-content>
      <app-team-list [editable]="false" [query]="teamQuery" [showColumns]="['name', 'sport', 'players']"></app-team-list>
    </app-side-panel-content>
  </mat-tab>
</mat-tab-group>
