:host {
  overflow: hidden;
  width: auto;
}

:host.chip-avatar--radius-round {
  border-radius: 50%;
}

:host.chip-avatar--radius-square {
  border-radius: 6px;
}

:host.chip-avatar--size-small {
  height: 40px;
  max-width: 40px;
}

:host.chip-avatar--size-medium {
  height: 60px;
  max-width: 60px;
}

:host.chip-avatar--size-large {
  height: 120px;
  max-width: 120px;
}

:host.chip-avatar--size-extra-large {
  height: 180px;
  max-width: 180px;
}
