:host.title--size-small {
  font-size: 12px;
}

:host.title--size-medium {
  font-size: 16px;
}

:host.title--type-subtitle {
  color: gray;
}

:host.title--type-title {
  color: black;
  font-weight: bold;
}
