@import "~/src/app/shared/base/_variables.scss";

:host {
  display: block;
  padding: 50px 20px 20px;
  position: relative;
  z-index: 1;

  &::before {
    background-color: $primary;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}
