<app-side-panel-header>
  <app-title size="large">{{ pageTitle }}</app-title>
</app-side-panel-header>

<form *ngIf="fg" [formGroup]="fg" class="_form" (submit)="onSubmit()">

  <mat-form-field appearance="outline">
    <mat-label>Event Type</mat-label>
    <select matNativeControl formControlName="type">
      <option disabled selected value="">Select</option>
      <option value="game">Game</option>
      <option value="practice">Practice</option>
      <option value="other">Other</option>
    </select>
  </mat-form-field>

  <ng-container *ngIf="fg.controls['type'].value === 'game'">
    <mat-form-field appearance="outline">
      <mat-label>Home Team</mat-label>
      <input matInput formControlName="homeTeam" name="home team name" type="text">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Away Team</mat-label>
      <input matInput formControlName="awayTeam" name="Away team name" type="text">
    </mat-form-field>
  </ng-container>

  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput autocomplete="off" formControlName="name" name="title" type="text">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description" name="description"></textarea>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Start Date</mat-label>
    <input matInput
      autocomplete="off"
      formControlName="date"
      [max]="startDateMax"
      [min]="startDateMin"
      name="date"
      type="datetime-local">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Location</mat-label>
    <input matInput formControlName="location" name="location" type="text">
  </mat-form-field>

  <app-side-panel-footer>
    <app-actions-group>
      <ng-container end>
        <a mat-button color="primary" [routerLink]="['', { outlets: { side: null } }]">Cancel</a>
        <button mat-flat-button color="primary" type="submit">Submit</button>
      </ng-container>
    </app-actions-group>
  </app-side-panel-footer>
</form>
